# Observations and Insights

<hr>

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# CalFresh data file path (DeJuan)
calfresh_data_path = "Resources/CalFresh Data 19 - Current.csv"
# Census data file path (Jackson)
census_data_path = "Resources/co-est2019-alldata.csv"
# us-counties data file path (Siddharth)
counties_data_path = "Resources/us-counties.csv"

In [2]:
# Read the all three datasets (D,J,S)
# Lots of problems reading the file. After awhile, figured out 
# it was encoded ANSI and not utf-8. After re-coding, using notepad. it worked. lost 30 min.
calfresh_data = pd.read_csv(calfresh_data_path)

# rename columns.
calfresh_data.rename(columns = {'Calendar Year' : 'Year', 'Unemployment Monthly	' : 'Unemployment', 'CalFresh Households' : 'Households',
                                'CalFresh Persons' : 'Persons', 'EBT_FSP_dollars' : 'EBT Cash'}, inplace = True)

calfresh_data.head()

,County,Month,Date,Year,Unemployment Monthly,Households,Persons,Applications Recevied,Online Applications Received,EBT Cash
0,Statewide,January,Jan-19,2019,4.8%,"1,906,041","3,764,747","165,779","72,917","936,417,639"
1,Alameda,January,Jan-19,2019,0.3%,"53,529","93,512","5,515","2,428","24,484,650"
2,Alpine,January,Jan-19,2019,4.7%,70,114,4,1,"27,662"
3,Amador,January,Jan-19,2019,4.9%,"1,462","2,573",154,40,"607,423"
4,Butte,January,Jan-19,2019,6.6%,"16,535","29,634","2,043","1,085","7,170,854"

In [3]:
counties_data = pd.read_csv(counties_data_path)

# rename columns to use initial Caps.
counties_data.rename(columns = {'date' : 'Date', 'county' : 'County', 'state' : 'State', 'cases' : 'Cases', 'deaths' : 'Deaths'}, inplace = True)
counties_data.head()

         Date     County       State     fips  Cases  Deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [13]:
# Had initial problems. Discovered that all US .gov docs are encoded ANSI, 
# or have fixed length columns. You must open in note pad and save as utf-8.
census_data = pd.read_csv(census_data_path)

# rename columns to use initial Caps.
census_data.rename(columns = {'STNAME' : 'State', 'CTYNAME' : 'County', 
                              'POPESTIMATE2019' : 'Population'}, inplace = True)
census_df = pd.DataFrame(census_data)
census_df.drop(census_df.columns[[0, 1, 2, 3, 4, 7, 8, 9]], axis = 1, inplace = True)
census_df.head()

# Create new pd.DataFrame using only State, County,

,State,County,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,Alabama,Alabama,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
1,Alabama,Autauga County,55227,54954,54727,54893,54864,55243,55390,55533,...,4.847310,6.018182,-6.226119,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
2,Alabama,Baldwin County,186558,190145,194885,199183,202939,207601,212521,217855,...,24.017829,16.641870,17.488579,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
3,Alabama,Barbour County,27341,27169,26937,26755,26283,25806,25157,24872,...,-5.690302,0.292676,-6.897817,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
4,Alabama,Bibb County,22745,22667,22521,22553,22566,22586,22550,22367,...,1.385134,-4.998356,-3.787545,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952

In [5]:


# Combine data into a single dataset (JC)

# Create pd.DataFrame for population density by county. Timeframe 1-2020 to 3-2021

# Create pd.DataFrame for CalFresh recipients by county. Timeframe 1-2020 to 3-2021

# Create pd.DataFrame for total Covid cases by county. Timeframe 1-2020 to 3-2021
# Display the data table for preview

# Summary Statistics

## Line Chart

In [6]:
# Show CA state covid cases over months using line plot. Years on x-axis and population on y-axis
# Timeframe: Jan 2020 to March 2021

In [7]:
# Graph trends amoungst various counties on a single plot. Pick 5, at least one urban area
# Timeframe: Jan 2020 to March 2021

In [8]:
# Correlation Rise of Covid and CalFresh (maybe unemployment) vs number of people receiving CalFresh aid.

### Bar Chart

In [9]:
# Number of Covid cases in all counties. Sort decending

In [10]:
# Number of Covid cases in top 10 counties. Sort decending