# Observations and Insights

<hr>

In [37]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# CalFresh data file path (DeJuan)
calfresh_data_path = "Resources/CalFresh Data 19 - Current.csv"
# Census data file path (Jackson)
census_data_path = "Resources/co-est2019-alldata.csv"
# us-counties data file path (Siddharth)
counties_data_path = "Resources/us-counties.csv"

In [42]:
# Read the all three datasets (D,J,S)
# Lots of problems reading the file. After awhile, figured out 
# it was encoded ANSI and not utf-8. After re-coding, using notepad. it worked. lost 30 min.
calfresh_data = pd.read_csv(calfresh_data_path)

# rename columns.
calfresh_data.rename(columns = {'Calendar Year' : 'Year', 'Unemployment Monthly	' : 'Unemployment', 
                                'CalFresh Households' : 'Households', 'CalFresh Persons' : 'Persons', 
                                'EBT_FSP_dollars' : 'EBT Cash'}, inplace = True)
                                

calfresh_data.head()

,County,Month,Date,Year,Unemployment Monthly,Households,Persons,Applications Recevied,Online Applications Received,EBT Cash
0,Statewide,January,Jan-19,2019,4.8%,"1,906,041","3,764,747","165,779","72,917","936,417,639"
1,Alameda,January,Jan-19,2019,0.3%,"53,529","93,512","5,515","2,428","24,484,650"
2,Alpine,January,Jan-19,2019,4.7%,70,114,4,1,"27,662"
3,Amador,January,Jan-19,2019,4.9%,"1,462","2,573",154,40,"607,423"
4,Butte,January,Jan-19,2019,6.6%,"16,535","29,634","2,043","1,085","7,170,854"

In [43]:
# Remove 'Date' Column from CSV, not usable for analysis. Is not an actual date, is only the Month and year joined. (DHall)
del calfresh_data['Date']

calfresh_data.head()

,County,Month,Year,Unemployment Monthly,Households,Persons,Applications Recevied,Online Applications Received,EBT Cash
0,Statewide,January,2019,4.8%,"1,906,041","3,764,747","165,779","72,917","936,417,639"
1,Alameda,January,2019,0.3%,"53,529","93,512","5,515","2,428","24,484,650"
2,Alpine,January,2019,4.7%,70,114,4,1,"27,662"
3,Amador,January,2019,4.9%,"1,462","2,573",154,40,"607,423"
4,Butte,January,2019,6.6%,"16,535","29,634","2,043","1,085","7,170,854"

In [44]:
#Filter calfreash data by 2020 and 2021 (DHall)
calfresh_data20_21 = calfresh_data[calfresh_data['Year']!=2019]

calfresh_data20_21.head()

,County,Month,Year,Unemployment Monthly,Households,Persons,Applications Recevied,Online Applications Received,EBT Cash
708,Statewide,January,2020,4.3%,"2,176,109","4,075,962","187,228","86,463","500,169,011"
709,Alameda,January,2020,3.1%,"65,302","112,881","6,341","2,939","13,678,807"
710,Alpine,January,2020,4.6%,77,126,7,0,"14,377"
711,Amador,January,2020,4.7%,"1,496","2,588",171,41,"305,508"
712,Butte,January,2020,5.6%,"17,028","28,648","1,901","1,014","3,503,997"

In [46]:
#Export Updated CSV to Resource Folder (DHall)
calfresh_data20_21.to_csv('Resources/calfresh_data20_21.csv')

In [ ]:
counties_data = pd.read_csv(counties_data_path)

# rename columns to use initial Caps.
counties_data.rename(columns = {'date' : 'Date', 'county' : 'County', 'state' : 'State', 'cases' : 'Cases', 'deaths' : 'Deaths'}, inplace = True)
counties_data.head()

In [ ]:
#### Had initial problems. Discovered that all US .gov docs are encoded ANSI, 
# or have fixed length columns. You must open in note pad and save as utf-8.
census_data = pd.read_csv(census_data_path)

# rename columns to use initial Caps.
census_data.rename(columns = {'STNAME' : 'State', 'CTYNAME' : 'County', 
                              'POPESTIMATE2019' : 'Population'}, inplace = True)
census_df = pd.DataFrame(census_data)
census_df.drop(census_df.columns[[0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 
                                  22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 
                                  39, 40, 41, 42, 43, 44, 45, 46, 47]], axis = 1, inplace = True)
# filter rows in state that equal California
census_ca = census_df.loc[census_df['State'] != 'California']

census_ca.head()
#print('\nResult census_ca :\n'', 

# Create new pd.DataFrame using only State, County,

In [ ]:


# Combine CalFresh, census and counties data into a single dataset (JC)


# Create pd.DataFrame for population density by county. Timeframe 1-2020 to 3-2021

# Create pd.DataFrame for CalFresh recipients by county. Timeframe 1-2020 to 3-2021

# Create pd.DataFrame for total Covid cases by county. Timeframe 1-2020 to 3-2021
# Display the data table for preview

# Summary Statistics

## Line Chart

In [ ]:
# Show CA state covid cases over months using line plot. Years on x-axis and population on y-axis
# Timeframe: Jan 2020 to March 2021

In [ ]:
# Graph trends amoungst various counties on a single plot. Pick 5, at least one urban area
# Timeframe: Jan 2020 to March 2021

In [ ]:
# Correlation Rise of Covid and CalFresh (maybe unemployment) vs number of people receiving CalFresh aid.

### Bar Chart

In [ ]:
# Number of Covid cases in all counties. Sort decending

In [ ]:
# Number of Covid cases in top 10 counties. Sort decending